.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  width: 20%;
}

.topnav a:hover {
  background-color: #333;
  color: #98DE5B;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.log_and_register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 400px;
  border-radius: 15px;
  background-color: #98DE5B; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top right, #98DE5B, #08E1AE);
  color: #4b4b4b;
  text-align: center;
}

.btn{
  background-color: #333;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  width: 100%;
  color: white;
}

.btn:hover{
  background-color: #3b3b3b;
  color: #08E1AE;
}

.input{
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  text-align: center;
}

.plan_table {
  width: 80%;
  border-collapse: collapse;
}

