div.page-container {
  position: relative;
  min-height: 100vh;
}

div.content-wrap {
  padding-bottom: 2.5rem;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  width: 20%;
}

.topnav a:hover {
  background-color: #333;
  color: #98DE5B;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.user_logged{
  padding: 25px;
  color: #333;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.log_and_register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 400px;
  border-radius: 15px;
  background-color: #98DE5B; /* For browsers that do not support gradients */
  background-image: linear-gradient(to top right, #98DE5B, #08E1AE);
  color: #4b4b4b;
  text-align: center;
}

.user{
  background-color: #333;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  width: 250px;
  color: white;
}

.user:hover{
  background-color: #333;
  color: #08E1AE;
}

.button{
  background-color: #333;
  border: none;
  border-radius: 15px;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  color: white;
}

.button:hover{
  background-color: #98DE5B;
  color: #333;
}

.input{
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  text-align: center;
  width: 250px;
}

.description{
  text-align: center;
}

a.style{
  color: #90c556;
}

a.style:hover{
  color: #333;
}

footer {
  background-color: #333;
  padding: 10px;
  text-align: center;
  color: white;
}

