<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="/static/images/tomato.png">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Easy Veggies</title>
</head>
<body>
<div>
    <div class="logo">
       <a href="{% url "base" %}"><img src="/static/images/logo_veggies.png"></a>
    </div>    
    <div class="topnav">    
      <a class="active" href="{% url "base" %}">HOME</a>
      <a href="{% url 'plan' %}">PLAN</a>
      <a href="{% url 'seed_add' %}">SEEDS</a>
      <a href="#about">GROW</a>
       {% if user.is_authenticated %}
           <a href="{% url 'logout' %}">LOGOUT</a> </li>
       {% else %}
           <a href="{% url 'login' %}">LOGIN</a> </li>
       {% endif %}
    </div>
</div>

<br>
<div>
    {% if user.is_authenticated %}
        Welcome {{ user.username }}! 
    {% endif %}
</div>
<div>
    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <li>{{ message.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>

<div>Hello world</div>

{% block content %}
{% endblock %}

</body>
</html>