{% extends 'base.html' %}
{% block content %}
    <div>
        Growing conditions for all your veggies, finally in one place!
        <br><br>
        Number of growing conditions in your collection: <b>{{ number_of_conditions }}</b>
        <br><br>
        Growing condition for your veggie is not in the table? 
        <button class="button"><a class="style" href="{% url "grow_veggie_add" %}">ADD CONDITION</a></button>
        <br><br>
        <table class="table table-light table-stripped table-hover">
            <tr>
                <th></th>
                <th>VEGGIE</th>
                <th>SUN</th>
                <th>WATER</th>
                <th>SOIL</th>
                <th>SOW</th>
                <th>COMMENT</th>
                <th></th>
                <th></th>
            </tr>
                 {% for grow_veggie in grow_veggies %}
                     <tr>
                     <td>{{ forloop.counter|add:start_index }}</td>
                     <td>{{ grow_veggie.veggie }}</td>
                     <td>{% for sun in grow_veggie.sun.all %}
                            {{ sun }}, 
                         {% endfor %}</td>
                     <td>{% for water in grow_veggie.water.all %}
                            {{ water }}, 
                         {% endfor %}</td>
                     <td>{% for soil in grow_veggie.soil.all %}
                            {{ soil }}, 
                         {% endfor %}</td>
                     <td>{% for month in grow_veggie.sow.all %}
                            {{ month }}, 
                         {% endfor %}</td>
                     <td>{{ grow_veggie.comment }}</td>
                     <td><button class="button">
                         <a class="style" href="{% url "grow_veggie_update" pk=grow_veggie.pk%}">edit</a>
                     </button></td>
                     <td><button class="button">
                         <a class="style" href="{% url "grow_veggie_delete" pk=grow_veggie.pk%}">delete</a>
                     </button></td>
                {% endfor %}
        </table> 
        <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
              
                {% if grow_veggies.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ grow_veggies.previous_page_number }}">&laquo; previous</a></li>
                {% endif %}
                
                {% for page in grow_veggies.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                
                {% if grow_veggies.has_next%}
                    <li class="page-item">
                        <a  class="page-link" href="?page={{ grow_veggies.next_page_number }}">next &raquo;</a></li>
                {% endif %}
              
              </ul>
        </nav>
    </div>
{% endblock %}