{% extends 'base.html' %}
{% block content %}
    <div>
        Growing conditions for all your veggies, finally in one place!
        <br><br>
        Number of growing conditions in your collection: <b>{{ number_of_conditions }}</b>
        <br><br>
        Download your collection. 
        <button class="button"><a class="style" href="{% url 'grow_veggies_pdf' %}">PDF</a></button>
        <br><br>
        Growing condition for your veggie is not in the table? 
        <button class="button"><a class="style" href="{% url "grow_veggie_add" %}">ADD CONDITION</a></button>
        <br><br>
             <form method="get">
            <table class="table table-light table-stripped table-hover">
                <tr>
                    <th>VEGGIE</th>
                    <th>SUN</th>
                    <th>WATER</th>
                    <th>SOIL</th>
                    <th>SOW</th>
                </tr>
                <tr>
                    <td><select name="veggie" id="veggie" class="select-styling">
                        <option value="" disabled selected style="display:none;">Choose...</option>
                            {% for veggie in veggies %}
                                <option value="{{ veggie.pk }}">{{ veggie.name }}</option>
                            {% endfor %}
                    </select></td>
                    <td>{% for sun in sun_scale %}
                         <input type="checkbox" value="{{ sun.pk }}" name="sun"> {{ sun.name }}
                            {% endfor %}</td>
                    <td>{% for water in water_scale %}
                         <input type="checkbox" value="{{ water.pk }}" name="water"> {{ water.name }}
                            {% endfor %}</td>
                    <td>{% for soil in soil_scale %}
                         <input type="checkbox" value="{{ soil.pk }}" name="soil"> {{ soil.name }}
                            {% endfor %}</td>   
                    <td>{% for month in months %}
                         <input type="checkbox" value="{{ month.pk }}" name="sow"> {{ month.name }}
                            {% endfor %}</td>
            </table>
            <input type="submit" value="FILTER" name="show_veggies" class="button">
        </form>    
        <br><br>
        <table class="table table-light table-stripped table-hover">
            <tr>
                <th></th>
                <th>VEGGIE</th>
                <th>SUN</th>
                <th>WATER</th>
                <th>SOIL</th>
                <th>SOW</th>
                <th>COMMENT</th>
                <th></th>
                <th></th>
            </tr>
                 {% for grow_veggie in grow_veggies %}
                     <tr>
                     <td>{{ forloop.counter0|add:start_index }}</td>
                     <td>{{ grow_veggie.veggie }}</td>
                     <td>{% for sun in grow_veggie.sun.all %}
                            {{ sun }}, 
                         {% endfor %}</td>
                     <td>{% for water in grow_veggie.water.all %}
                            {{ water }}, 
                         {% endfor %}</td>
                     <td>{% for soil in grow_veggie.soil.all %}
                            {{ soil }}, 
                         {% endfor %}</td>
                     <td>{% for month in grow_veggie.sow.all %}
                            {{ month }}, 
                         {% endfor %}</td>
                     <td>{{ grow_veggie.comment }}</td>
                     <td><button class="button">
                         <a class="style" href="{% url "grow_veggie_update" pk=grow_veggie.pk%}">edit</a>
                     </button></td>
                     <td><button class="button">
                         <a class="style" href="{% url "grow_veggie_delete" pk=grow_veggie.pk%}">delete</a>
                     </button></td>
                {% endfor %}
        </table> 
        <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
              
                {% if grow_veggies.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ grow_veggies.previous_page_number }}">&laquo; previous</a></li>
                {% endif %}
                
                {% for page in grow_veggies.paginator.page_range %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endfor %}
                
                {% if grow_veggies.has_next%}
                    <li class="page-item">
                        <a  class="page-link" href="?page={{ grow_veggies.next_page_number }}">next &raquo;</a></li>
                {% endif %}
              
              </ul>
        </nav>
    </div>
{% endblock %}