{% extends 'base.html' %}
{% block content %}
    View all plans for your veggie garden.
    
    <table>
        <tr>
            <th>lp</th>
            <th>NAME</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
             {% for plan in plans %}
                 <tr>
                 <td>{{ forloop.counter }}</td>
                 <td>{{ plan.name }}</td>
                 <td>details</td>
                 <td>edit</td>
                 <td>delete</td>
            {% endfor %}
    </table>  
{% endblock %}