{% extends 'base.html' %}
{% block content %}
    <div>
        What do you want to do Gardener?
        <br><br>
        <button class="button">
        <a class="style" href="{%  url 'plan_option1' %}">1 - plan veggie garden for the first time!</a>
        </button>
        <br><br>
        <button class="button">
        <a class="style" href="{%  url 'plan_option2_choose' %}">2 - plan veggie garden based on last year</a>
        </button>
        <br><br>
        <button class="button">    
        <a class="style" href="{%  url 'plan_list' %}">3 - see all of my plans</a>
        </button>
    </div>
{% endblock %}