{% extends 'base.html' %}
{% block content %}
    <div>
        View all plans for your veggie garden.
        <br><br>
        <table>
            <tr>
                <th>lp</th>
                <th>NAME</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
                 {% for plan in plans %}
                     <tr>
                     <td>{{ forloop.counter }}</td>
                     <td>{{ plan.name }}</td>
                     <td>
                         <button class="button">
                             <a class="style" href="{% url 'plan_details' pk=plan.pk %}">details</a>
                         </button>
                     </td>
                     <td>
                         <button class="button">
                             <a class="style" href="{% url 'plan_update' pk=plan.pk %}">edit</a>
                         </button>
                     </td>
                     <td>
                         <button class="button">
                             <a class="style" href="{% url 'plan_delete' pk=plan.pk %}">delete</a>
                         </button>
                     </td>
                {% endfor %}
        </table>  
    </div>
{% endblock %}