{% extends 'base.html' %}
{% block content %}
    <div>
        Here are the details of your plan: {{ plan.name }}
        <br><br>
        <button class="button"><a class="style" href="{% url 'plan_update' pk=plan.pk %}">EDIT</a></button>
        <button class="button"><a class="style" href="{% url 'plan_delete' pk=plan.pk %}">DELETE</a></button>
        <br><br>
        <table class="table table-light table-stripped table-hover">
                <tr>
                    <th></th>
                    <th>BED</th>
                    <th>VEGGIE FAMILY</th>
                    <th>VEGGIES</th>
                    <th>PROGRESS</th>
                </tr>
                {% for veggie_bed in veggie_beds %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a class="style" href="{% url 'bed_details' pk=veggie_bed.bed_id %}">{{ veggie_bed.bed.name }}</a></td>
                    <td>{{ veggie_bed.veggie.family }}</td>
                    <td>{{ veggie_bed.veggie }}</td>
                    <td>{{ veggie_bed.get_progress_display }}</td>
                </tr>
                {% endfor %}
            </table>
    </div>
{% endblock %}