{% extends 'base.html' %}
{% block content %}
    <div>
    Choose previous plan
    <br><br>
    <form method="get">
        <select name="prev_plan">
            <option value="" disabled selected style="display:none;">Choose...</option>
            {% for plan in plans %}
                <option value="{{ plan.id }}">{{ plan.name }}</option>
            {% endfor %}
        </select>
        <input type="submit" id="prev_plan" class="button">
    </form>

    <form method="post">
        {% csrf_token %}
        <input name="amount" type ="hidden" value="{{ amount }}">
        <input type="text" placeholder="plan name max 50" name="plan_name">
        <input type="submit" value="SAVE PLAN" name="save_plan" class="button">
        <br><br>
        <table class="table table-light table-stripped table-hover">
            <tr>
                <th></th>
                <th>BED</th>
                <th>PREVIOUS VEGGIE FAMILY</th>
                <th></th>
                <th>BED</th>
                <th>NEXT VEGGIE FAMILY</th>
                <th>VEGGIES</th>
                <th>PROGRESS</th>
            </tr>
            {% for veggie_bed in veggie_beds %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ veggie_bed.bed.name }}</td>
                    <td><select name="prev_family" id="prev_family" class="select-styling">
                        <option value="{{ veggie_bed.veggie.family.pk }}" 
                                {% if family == veggie_bed.veggie.family %} selected 
                                {% endif %}>{{ veggie_bed.veggie.family }}</option>
                    </select></td>                
                    <td>{{ forloop.counter }}</td>                
                    <td><input type="text" name="bed_name" placeholder="name"></td>
                    <td><select name="family" id="family" class="select-styling">
                        <option value="" disabled selected style="display:none;">Choose...</option>
                        {% for family in families %}
                            <option family="{{ family.pk }}" value="{{ family.id }}">{{ family.name }}</option>
                        {% endfor %}
                    </select></td>
                    <td><select name="veggie" id="veggie" class="select-styling">
                        <option value="" disabled selected style="display:none;">Choose...</option>
                        {% for veggie in veggies %}
                            <option family="{{ veggie.family.pk }}"
                                    value="{{ veggie.id }}">{{ veggie.name }}</option>
                        {% endfor %}
                    </select>
                    </td>
                    <td><select name="progress" class="select-styling">
                        <option value="" disabled selected style="display:none;">Choose...</option>
                        {% for key, value in progress %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select></td>
                </tr>
            {% endfor %}
        </table>
    </form>
    </div>

{% block script %}
    <script src="/static/js/script_plan_option2.js"></script>
{% endblock %}
{% endblock %}

