{% extends 'base.html' %}
{% block content %}
    <div>
        View all plans for your veggie garden.
        <br><br>
        Number of plans in your collection: <b>{{ number_of_plans }}</b>
        <br><br>
        <table class="table table-light table-stripped table-hover">
            <tr>
                <th></th>
                <th>NAME</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        <tbody>
                 {% for plan in plans %}
                     <tr>
                     <td>{{ forloop.counter0|add:start_index }}</td>
                     <td>{{ plan.name }}</td>
                     <td>
                         <button class="button">
                             <a class="style" href="{% url 'plan_details' pk=plan.pk %}">details</a>
                         </button>
                     </td>
                     <td>
                         <button class="button">
                             <a class="style" href="{% url 'plan_update' pk=plan.pk %}">edit</a>
                         </button>
                     </td>
                     <td>
                         <button class="button">
                             <a class="style" href="{% url 'plan_delete' pk=plan.pk %}">delete</a>
                         </button>
                     </td>
                {% endfor %}
        </tbody>
        </table>
            <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            {% if plans.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ plans.previous_page_number }}">&laquo; previous</a></li>
            {% endif %}

            {% for page in plans.paginator.page_range %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}

            {% if plans.has_next%}
                <li class="page-item">
                    <a  class="page-link" href="?page={{ plans.next_page_number }}">next &raquo;</a></li>
            {% endif %}

          </ul>
        </nav>
    </div>
{% endblock %}