{% extends 'base.html' %}
{% block content %}
    <div>
    All your seeds, finally in one place!
     <br><br>
    Got the new seed? Add it to your collection! 
    <button class="button">
    <a class="style" href="{% url "seed_add" %}">ADD SEED</a>
    </button>
     <br><br>
    <table>
        <tr>
            <th>lp</th>
            <th>VEGGIE</th>
            <th>VARIETY</th>
            <th>COMPANY</th>
            <th>COMMENT</th>
            <th></th>
            <th></th>
        </tr>
             {% for seed in seeds %}
                 <tr>
                 <td>{{ forloop.counter }}</td>
                 <td>{{ seed.veggie }}</td>
                 <td>{{ seed.variety }}</td>
                 <td>{{ seed.company }}</td>
                 <td>{{ seed.comment }}</td>
                 <td><button class="button">
                     <a class="style" href="{% url "seed_update" pk=seed.pk%}">edit</a>
                 </button></td>
                 <td><button class="button">
                     <a class="style" href="{% url "seed_delete" pk=seed.pk%}">delete</a>
                 </button></td>
            {% endfor %}
    </table>  
    </div>
{% endblock %}